<header>
  <div class="nav-wrapper">
    <div class="logo-container">
      <img src="assets/img.jpg" alt="Logo" class="logo">
    </div>
    <nav>
      <input class="hidden" type="checkbox" id="menuToggle">
      <label class="menu-btn" for="menuToggle">
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="menu"></div>
      </label>
      <div class="nav-container">
        <ul class="nav-tabs">
          <li class="nav-tab"><a routerLink="/Home">Home</a></li>
          <li class="nav-tab"><a routerLink="/Products">Products</a></li>
          <li class="nav-tab"><a routerLink="/ProductsParent">Products Parent</a></li>
          <li class="nav-tab"><a href="/AboutUs">About Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="center">
  <h1>Resize window to 800px to toggle menu</h1>
</div>
