<!-- <h1>Hello Frontend Track</h1> -->


<!-- selectors component -->
<div class="container-fluid">
  <app-navbar></app-navbar>

  <div class="container">
    <div class="row">
      <!-- <app-main class="col-sm-12"></app-main> -->

      <!-- Day2 -->
      <!-- <app-product-list class="col-sm-12"></app-product-list> -->

      <!-- Day3 -->
      <!-- <app-product-parent></app-product-parent> -->
      <router-outlet></router-outlet>


    </div>
  </div>
  <app-footer></app-footer>

</div>




<!-- second case  -->
<!-- <app-navbar></app-navbar>

<router-outlet></router-outlet> -->
